.table {
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin: 40px 0 20px 0;
    width: 100%;

    .tableContainer {
        @media screen and (max-width: 1064px) {
            max-width: 630px;
            overflow-x: auto;
        }
        @media screen and (max-width: 526px) {
            max-width: 300px;
            overflow-x: auto;
        }
        @media screen and (max-width: 320px) {
            max-width: 280px;
            overflow-x: auto;
        }
    }
    .tableHeader {
        .tableRow {
            .tableHead {
                .tableContent {
                    display: flex;
                    flex-direction: column;
                    p {
                        font-weight: 600;
                        font-size: 12px;
                        display: inline-flex;
                        align-items: center;
                        text-transform: uppercase;
                        color: #545f7d;
                        margin: 0 auto;
                        padding: 10px;
                        gap: 0.5rem;
                    }
                }
            }
        }
    }
    .borderBottom {
        border-bottom: 2px solid rgba(33, 63, 125, 0.1);
        width: 100%;
        .row {
            padding: 20px 20px;
            border-bottom: 1px solid rgba(33, 63, 125, 0.1);
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #545f7d;
            .status {
                background: rgba(84, 95, 125, 0.06);
                border-radius: 100px;
                width: fit-content;
                padding: 3px 20px;
            }
        }
    }
}

.menu_option,
.filter_option {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 0.5rem;

    p {
        font-weight: 600;
        font-size: 12px;
        color: #545f7d;
        margin: 0 auto;
    }
}
.filter_option {
    display: block;
    flex-direction: column;
    label {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #545f7d;
    }
    .options {
        width: 90%;
        border: 1px solid rgba(33, 63, 125, 0.06);
        border-radius: 4px;
        padding: 10px;
        font-weight: 500;
        font-size: 14px;
        margin-top: 0.5rem;
        line-height: 16px;
        outline: none;
        color: #545f7d;
    }
    .select {
        width: 154px;
        border-radius: 4px;
        padding: 10px;
        font-weight: 500;
        font-size: 14px;
        margin-top: 0.5rem;
        color: #545f7d;
        border: 1px solid rgba(33, 63, 125, 0.06);
    }
}

.filter_btn {
    display: flex;
    gap: 1rem;
    .reset,
    .filter {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #545f7d;
        border: 1px solid #545f7d;
        border-radius: 8px;
        padding: 1rem;
        background-color: transparent;
    }
    .filter {
        background: #39cdcc;
        color: #ffffff;
        border: none;
    }
}
.paginationContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .showing {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #545f7d;
    }
}
